<div class="auth-root">
  <div class="auth-card">
    <div class="logo-container">
      <img class="logo" src="assets/images/Blitzvideo.png" alt="Blitzvideo Logo">
    </div>
    <h2 class="auth-title">Registro</h2>
    <form #dataform="ngForm" (ngSubmit)="onSubmit(dataform)">
      <div class="input-group">
        <input type="text" name="name" ngModel placeholder="Nombre" required>
      </div>
      <div class="input-group">
        <input type="date" name="fecha_de_nacimiento" ngModel required>
      </div>
      <div class="input-group">
        <input type="email" name="email" ngModel placeholder="Correo electrónico" required>
      </div>
      <div class="input-group password-group">
        <input [type]="showPassword ? 'text' : 'password'" name="password" ngModel placeholder="Contraseña" required>
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye" (click)="togglePasswordVisibility()"></fa-icon>
      </div>
      <div class="input-group password-group">
        <input [type]="showPassword ? 'text' : 'password'" name="password_confirmation" ngModel placeholder="Confirmar contraseña" required>
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye" (click)="togglePasswordVisibility()"></fa-icon>
      </div>
      <div class="alert-container">
        <div *ngIf="sinCredenciales" class="alert error">
          <span>Por favor, completa todos los campos.</span>
          <button class="close-btn" (click)="sinCredenciales = false">×</button>
        </div>
        <div *ngIf="passwordSinCoincidir" class="alert error">
          <span>Las contraseñas no coinciden.</span>
          <button class="close-btn" (click)="passwordSinCoincidir = false">×</button>
        </div>
        <div *ngIf="usuarioYaExiste" class="alert error">
          <span>Ya existe un usuario con ese email.</span>
          <button class="close-btn" (click)="usuarioYaExiste = false">×</button>
        </div>
      </div>
      <button class="btn" type="submit" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">Registrarse</ng-container>
        <ng-container *ngIf="isLoading" class="loader-container">
          <div class="loader"></div> Cargando...
        </ng-container>
      </button>
      <div class="links">
        <p>¿Ya tienes una cuenta? <a routerLink="/">Inicia sesión aquí</a></p>
      </div>
    </form>
  </div>
</div>
