<div class="reset-password-root">
  <div class="reset-password-box">
    <h2>Restablecer Contraseña</h2>
    <form (ngSubmit)="restablecerContrasena()">
      <input type="hidden" [(ngModel)]="email" name="email">
      <input type="hidden" [(ngModel)]="token" name="token">

      <label for="password">Nueva Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Ingresa nueva contraseña">

      <label for="password_confirmation">Confirmar Contraseña:</label>
      <input type="password" id="password_confirmation" [(ngModel)]="password_confirmation" name="password_confirmation" required placeholder="Confirma nueva contraseña">

      <button type="submit" class="boton">Restablecer</button>
    </form>
    <p>{{ mensaje }}</p>
  </div>
</div>
